<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052786990390-hkkr4007kv5r2egkmsj14upfhdtrpj5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052786990390-hkkr4007kv5r2egkmsj14upfhdtrpj5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDo_JpH88E29_rZNpYFLTbxu7d-tgHo3J0</string>
	<key>GCM_SENDER_ID</key>
	<string>1052786990390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogsoftware.Messenger</string>
	<key>PROJECT_ID</key>
	<string>swift-messenger-5f73a</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-messenger-5f73a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052786990390:ios:56d2b3a6caa627d7f42797</string>
	<key>DATABASE_URL</key>
	<string>https://swift-messenger-5f73a.firebaseio.com</string>
</dict>
</plist>